[global]
port = 8080
interval = 1
maxattempts = 3
attempt_interval = 1
#lockdir = "/tmp"
#log = "/var/log/fstaid.log"
#mode = "debug"(default) / "release"
#continue_if_self_check_failed = false

[handler]
command = "/usr/libexec/fstaid/handler.rb"
timeout = 300

[primary]
command = "curl -s -f server-01"
timeout = 3

[secondary]
command = "curl -s -f -x server-02:8080 server-01"
timeout = 3
# secondary check is not required

[self]
command = "curl -s -f 169.254.169.254/latest/meta-data/instance-id"
timeout = 3
# self check is not required

[[user]]
userid = "foo"
password = "bar"
