Source: fstaid
Priority: optional
Maintainer: Genki Sugawara <sgwr_dts@yahoo.co.jp>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.4
Homepage: https://github.com/winebarrel/fstaid
#Vcs-Git: git://git.debian.org/collab-maint/fstaid.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/fstaid.git;a=summary

Package: fstaid
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: fstaid is a daemon that monitors the health condition of the server and executes the script if there is any problem.
